h1 {
  color: #1d1d6a;
}

.page {
  display: none;
}

.page:first-child {
  display: block;
}

/* Nouri project style started here */
/* Highlight container background */
.highlightBackground {
  box-shadow: rgba(23, 162, 184, 0.35) 0px 5px 15px;
  border-radius: 7px;
}

.highlightPadding {
  padding: 2px;
}

/* Highlight colors */
.highlightBlue {
  background-color: #007bff;
}

.highlightRed {
  background-color: #dc3545;
}

.highlightOrange {
  background-color: #fd7e14;
}

.highlightGreen {
  background-color: #28a745;
}

.highlightCyan {
  background-color: #17a2b8;
}

.highlightYellow {
  background-color: #ffc107;
}

.highlightPink {
  background-color: #e83e8c;
}

.highlightIndigo {
  background-color: #6610f2;
}

.highlightTeal {
  background-color: #20c997;
}

.highlightMore {
  background-color: #7fffd4;
}

/* Toggle switch */
.highlightSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.highlightSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.highlightSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.highlightSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#highlightCheckboxContainer input:checked+.highlightSlider {
  background-color: #dc3545;
}

#highlightCheckboxContainer input:focus+.highlightSlider {
  box-shadow: 0 0 1px #dc3545;
}

#highlightCheckboxContainer input:checked+.highlightSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.highlightSlider.highlightRound {
  border-radius: 34px;
}

.highlightSlider.highlightRound:before {
  border-radius: 50%;
}

/* Nouri project style finished here */


/* INIZIA CODICE CSS DI DAVIDE ANDREANA */

/* FINISCE CODICE CSS DI DAVIDE ANDREANA */

/*INIZIA IL CODICE DI LUCA TABBIA*/
#campo-santoli-main-row{
  height: 80vh;
  margin-bottom: 100px;
}
#campo-santoli-table-container{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
#campo-santoli-table{
  position: absolute;
  margin: 0 auto;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  }
#send-creation-table{
  position: absolute;
  bottom: 40px;
  width: 30%;
  left: 35%;
}
#campo-santoli-table-cover{
  position: absolute;
  margin: 0 auto;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  z-index: 100;
  }
.cs-cell{
  height: 30px;
  width: 80px;
  border: 2px solid white;
  background-color: black;
  text-align: center;
}
.cs-cell-cover{
  height: 30px;
  width: 80px;
  border: 2px solid white;
  background-color: darkgray;
}
#cs-h2-statement{
  position: absolute;
  width: 30%;
  height: 20%;
  top: 40%;
  left: 35%;
  text-align: center;
  z-index: 100;
  visibility: hidden;
}
#cs-form-menù{
  height: 100%;
}
.hidden-number-times{
  visibility: hidden;
  margin-top: 10px;
}
.hidden-number-times:first{
  margin-top: 40px;
}
#cs-form-menù{
  padding-top: 30px;
}
/*FINISCE IL CODICE DI LUCA TABBIA*/