h1 {
    color: #1d1d6a;
}

.navbar{
    overflow-x: scroll;
}

.nav-item {
    font-size:0.9rem;
    border:none;
    background: rgba(0,0,0,0);
    padding: 0.5rem 0.3rem;
}

.page {
    display: none;
    padding-top:2rem;
}

.page:first-child {
    display: block;
}

/* Nouri project style started here */
/* Highlight container background */
.highlightBackground {
    box-shadow: rgba(23, 162, 184, 0.35) 0px 5px 15px;
    border-radius: 7px;
}

.highlightPadding {
    padding: 2px;
}

/* Highlight colors */
.highlightBlue {
    background-color: #007bff;
}

.highlightRed {
    background-color: #dc3545;
}

.highlightOrange {
    background-color: #fd7e14;
}

.highlightGreen {
    background-color: #28a745;
}

.highlightCyan {
    background-color: #17a2b8;
}

.highlightYellow {
    background-color: #ffc107;
}

.highlightPink {
    background-color: #e83e8c;
}

.highlightIndigo {
    background-color: #6610f2;
}

.highlightTeal {
    background-color: #20c997;
}

.highlightMore {
    background-color: #7fffd4;
}

/* Toggle switch */
.highlightSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.highlightSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.highlightSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.highlightSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#highlightCheckboxContainer input:checked + .highlightSlider {
    background-color: #dc3545;
}

#highlightCheckboxContainer input:focus + .highlightSlider {
    box-shadow: 0 0 1px #dc3545;
}

#highlightCheckboxContainer input:checked + .highlightSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.highlightSlider.highlightRound {
    border-radius: 34px;
}

.highlightSlider.highlightRound:before {
    border-radius: 50%;
}

/* Nouri project style finished here */


/* INIZIA CODICE CSS DI DAVIDE ANDREANA */
.davH1{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 5vh;
    color: black;
}

/* div che contiene tutto */
.davideContenitore{
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    width: 90%;
    height: 80vh;
}

/* div iniziali */
.davideDivAvanti{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.davideDivGioca{
    display: block;
    margin: 0 auto;
    width: 70%;
}

/* per icone di Font Awesome */
.davFontAwesome{
    color: black;
}

.davFooter{
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 3em;
    margin-top: 2%;
}

.davideCredits{
    font-family: 'Inconsolata', monospace;
    font-size: 5vh;
}

.h3regole{
    text-align: center;
    margin-top: 6em;
    margin-bottom: -5em;
}

.davideBottone1{
    margin: 0 auto;
    display: block;
    margin-top: 8em;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    margin-bottom: 20%;
}

.h3gioca, .h3Perso, .h3Vinto{
    margin-top: 17vh;
}


.davideBottone2{
    margin: 0 auto;
    display: block;
    margin-top: 8em;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    margin-bottom: 20%;
}

#davideGioca{
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* div per il caricamento */
.davideContieneCaricamento, .davideContienePerso, .davideContieneVinto{
    background-color: grey;
    position: absolute;
    top: 5vw;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 100vw;
    height: 100vh;
}

.davideCaricamento{
    background-color: white;
    opacity: 100%;
    top: 4em;
    position: relative;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    width: 90%;
    height: 40em;
}

.h3caricamento{
    position: relative;
    text-align: center;
    margin-top: 6em;
    
}

.davideContainer{
    width: 90%;
    height: 40em;
    margin: 0 auto;
    display: block;
    margin-top: 4em;
}

.davProgressBar{
    display: block;
    margin: 0 auto;
}

.h5freddure{
    text-align: center;
}

/* div che si mostra quando si sta per giocare */
.davideSxGiocando{
    float: left;
    margin-left: 4vw;
    border: 2px solid black;
    width: 55%;
    height: 80vh;
    margin-bottom: 4vh;
}

.davideDxGiocando{
    text-align: center;
    float: right;
    margin-right: 4vw;
    border: 2px solid black;
    width: 30%;
    height: 80vh;
    margin-bottom: 4vh;
}


.davideBersaglio{
    border-radius: 50%;
    background: radial-gradient(circle at 65% 15%, rgb(0, 195, 255), rgb(255, 0, 212));
    height: 4em;
    width: 4em;
    cursor: pointer;
}

/* contatori per punteggio corretto, errato e percentuale */
.davidePunteggioRealizzato, .davidePunteggioRealizzatoFine{
    margin-top: 10vh;
    color: rgb(38, 207, 38);
}

.davidePunteggioSbagliato{
    margin-top: 10vh;
    color: red;
}

.davidePunteggioPercentuale{
    margin-top: 10vh;
    color: rgb(127, 33, 214);
}

.davidePunteggioTimer{
    margin-top: 10vh;
    font-size: 2em;
}

/* div che viene mostrato quando hai perso */
.davidePerso, .davideVinto{
    text-align: center;
    background-color: white;
    opacity: 100%;
    top: 4em;
    position: relative;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    width: 90%;
    height: 80vh;
}

/* bottone per ricominciare */
.davideRiprova{
    font-size: 2em;
}

/* div che viene mostrato quando hai vinto */
.davideDammiIl5{
    cursor: -webkit-grab; cursor: grab;
    font-size: 5vh;
}
/* scritta quando batti il 5 */
#davideSiMaContieniti{
    font-size: 5vh;
}
/* FINISCE CODICE CSS DI DAVIDE ANDREANA */


/* Franco Start */
#franco-success {
    color: green;
}

#franco-error {
    color: red;
}
/* Franco End */


/*INIZIA IL CODICE DI LUCA TABBIA*/
#campo-santoli-main-row {
    height: 80vh;
    margin-bottom: 100px;
}

#campo-santoli-table-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

#campo-santoli-table {
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
}

#send-creation-table {
    position: absolute;
    bottom: 40px;
    width: 30%;
    left: 35%;
}

#campo-santoli-table-cover {
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
    z-index: 100;
}

.cs-cell {
    height: 30px;
    width: 80px;
    border: 2px solid white;
    background-color: black;
    text-align: center;
}

.cs-cell-cover {
    height: 30px;
    width: 80px;
    border: 2px solid white;
    background-color: darkgray;
    color: black;
}

#cs-h2-statement {
    position: absolute;
    width: 30%;
    height: 20%;
    top: 40%;
    left: 35%;
    text-align: center;
    z-index: 100;
    visibility: hidden;
}

#cs-form-menù {
    height: 100%;
}

.hidden-number-times {
    visibility: hidden;
    margin-top: 10px;
}

.hidden-number-times:first {
    margin-top: 40px;
}

#cs-form-menù {
    padding-top: 30px;
}

/*FINISCE IL CODICE DI LUCA TABBIA*/

/* CSS Stefano dS*/
.sds-main {
    background-color: #ecf0f3;
    padding: 25px;
}

.sds-loader {
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid #99adbd81;
    width: 120px;
    height: 120px;
    animation: sds-spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 300px;
}

@keyframes sds-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sds-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px auto;
    background-color: #ecf0f3;
    border-radius: 40px;
    padding: 25px;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class="sds-form"] {
        width: 80%;
        margin: 0 auto;
    }

    .sds-main {
        padding: 0px;
    }
}

.sds-form input, .sds-form select, .sds-form option {
    display: block;
    flex-basis: 0;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    color: #69727a;
    padding: 20px 10px 20px 5px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    margin: 0 auto 30px auto;
    border-radius: 25px;
    text-indent: 15px;
    transition: .5s;
    font-family: 'Comfortaa', cursive;
    max-width: 100%;
}

.sds-form input[type="button"], .sds-form input[type="submit"], .sds-form input[type="reset"] {
    color: rgb(119, 119, 119);
    padding: 20px 20px 20px 20px;
    box-shadow: inset -8px -8px 8px #cbced1, inset 8px 8px 8px #ffffff;
    text-indent: initial;
    transition: .5s;
}

.sds-form input[type="submit"] {
    color: white;
    padding: 20px 20px 20px 20px;
    background-color: green;
    box-shadow: inset -8px -8px 8px rgb(0, 68, 0), inset 8px 8px 8px rgb(125, 179, 125);
    text-indent: initial;
    transition: .5s;
}

.sds-form input[type="reset"] {
    color: white;
    padding: 20px 20px 20px 20px;
    background-color: red;
    box-shadow: inset -8px -8px 8px rgb(119, 0, 0), inset 8px 8px 8px rgb(255, 125, 125);
    text-indent: initial;
    transition: .5s;
}

.sds-form input[type="button"]:focus {
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    background: none;
    color: #cbced1;
}

.sds-form input[type="submit"]:focus {
    background-color: rgb(0, 212, 0);
    box-shadow: inset -12px -12px 12px rgb(0, 117, 0), inset 4px 4px 4px rgb(154, 218, 154);
    color: rgb(194, 255, 194);
}

.sds-form input[type="reset"]:focus {
    background-color: rgb(255, 82, 82);
    box-shadow: inset -12px -12px 12px rgb(173, 0, 0), inset 4px 4px 4px rgb(218, 154, 154);
    color: #ffc2c2;
}

.sds-form input::placeholder, .sds-form select {
    color: white;
    text-shadow: 0px 0px 5px #69727a;
    transition: .5s;
}

.sds-form input:focus {
    background-color: white;
}

.sds-form input:focus::placeholder {
    color: #cbced1;
    font-size: 0.7em;
    transform: translateX(100%);
}

.sds-fieldset {
    border: 3px solid white;
    border-radius: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class="sds-fieldset"] {
        width: 40%;
    }
}

.sds-fieldset legend {
    background-color: white;
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    color: #cbced1;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

.sds-flex-row {
    display: flex;
    flex-direction: row;
}

.sds-flex-column {
    display: flex;
    flex-direction: column;
}

.sds-flex-row input {
    flex-grow: 1;
}

.sds-modal-bg, #sds-first {
    display: block;
    z-index: 1002;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ecf0f39f;;
    opacity: 1;
}

.sds-modal-content {
    display: flex;
    flex-direction: column;
    padding: 11px;
}

.sds-address-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    border-radius: 25px;
    width: 90%;
    margin: 25px;
    border: 5px solid rgba(255, 0, 0, 0);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class="sds-address-section"] {
        width: 70%;
        margin: 0 auto;
    }
}

.sds-address-section input, .sds-address-section input:focus {
    margin: 0;
    box-shadow: none;
    background: none;
    text-overflow: ellipsis;
}

.sds-address-section input[type="button"] {
    margin: 0 auto 15px auto;
    box-shadow: none;
    background-image: url("icons/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left;
    color: black;
    padding: 5px 5px 5px 20px;
    border-radius: 0;
    text-align: left;
    cursor: pointer;
    transition-duration: .3s;
}

.sds-address-section input[type="button"]:hover {
    text-decoration: underline;
}

.sds-address-section input[type="button"]:focus {
    color: black;
    box-shadow: none;
    background-image: url("icons/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left;
}

#sds-alert {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: red;
    color: white;
    padding: 15px;
    height: 50px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0px 5px 11px #0000008c;
}

/* Fine codice Stefano*/

/* INIZIA IL CODICE DI GIULIO */

.titolo-giulio {
    text-align: center;
}


#errore-giulio {
    color: red;
}

/* FINISCE IL CODICE DI GIULIO */

/* Inizia il codice di Imane */

.titoloImane{
  color: blue;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}
div#memory_board{
  width:100%	;
  height:50%;
  margin:0 auto;
}
div#memory_board > div{
  background: url(images/santoliM.jpg) no-repeat;
  border:#000 2px solid;
  width:150px;
  height:150px;
  float:left;
  margin:10px;
  padding:10px;
  font-size:74px;
  cursor:pointer;
  text-align:center;
}
#buttonI{
  height: 50px;
  width: 130px;
  display: block; 
  margin: 0 auto; 
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #0095cd;
  background: -webkit-linear-gradient(top, #0078a5, #00adee);
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  background: -ms-linear-gradient(top, #0078a5, #00adee);
  background: -o-linear-gradient(top, #0078a5, #00adee);
  background: linear-gradient(top, #0078a5, #00adee);
  font-size: 20px;
}
#buttonI:hover {
  background:aqua;
  font-style: italic;
}

/* Finisce il codice di Imane*/

/********************* FERRERO CSS CODE STARTS HERE *********************/
#ferrero * {
    color: whitesmoke;
    font-family: 'Krona One', sans-serif;
}

.background-shadow {
    box-shadow: rgb(255 0 0) 0px 0px 60px 20px;
}

#ferrero {
    background-color: black;
    margin: 40px auto;
    border-radius: 30px;
}

#ferrero .header {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 110px;
    position: relative;
}

#ferrero .header p {
    max-width: 80%;
    margin: 22px auto;
    color: red;
}

#ferrero .main-content {
    background: url("images/anonymous-mask.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

#ferrero .game {
    margin-left: 20%;
}

#ferrero .messages {
    height: 170px;
}

#ferrero .buttons {
    display: flex;
}

#ferrero .btn {
    background-color: red;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    padding: 13px 20px;
}

#ferrero .btn:hover {
    color: #380000;
}

#ferrero .start {
    border-radius: 15px 0 0 15px;
}

#ferrero .check {
    border-radius: 0 15px 15px 0;

}

#ferrero .number {
    font-size: 150px;
    font-family: unset;
}

#ferrero .input {
    border: 5px solid whitesmoke;
    border-radius: 5px;
    background-color: black;
    width: 200px;
    height: 120px;
    text-align: center;
    margin-bottom: 30px;
    color: red;
    font-size: 80px;
}

#ferrero .difficulty {
    position: absolute;
    left: 0;
    top: 30px;
    border-radius: 0 15px 15px 0;
    background: darkorange;
}

#ferrero .easy {
    position: absolute;
    top: 85px;
    background: yellowgreen;
}

#ferrero .medium {
    position: absolute;
    top: 140px;
    background: darkorange;
}

#ferrero .difficult {
    position: absolute;
    top: 195px;
    background: orangered;
}

#ferrero .opponent {
    position: absolute;
    right: 0;
    top: 30px;
    border-radius: 15px 0 0 15px;    background: darkorange;
}

#ferrero .commodore {
    position: absolute;
    top: 85px;
    background: yellowgreen;
}

#ferrero .deep-blue {
    position: absolute;
    top: 140px;
    background: darkorange;
}

#ferrero .fugaku {
    position: absolute;
    top: 195px;
    background: orangered;
}


/********************* FERRERO CSS CODE ENDS HERE *********************/


/* Inizio CSS Daniele*/

.pageDS{
    background-image: url('images/backgroundDS.png');
}

.containerDS{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 10px;
    color: white;
}

.titleDS{
    font-size: 5rem;
    color: #E68373;
    text-align: center;
    text-shadow: 2px 2px black;
    background-color: #A1B9E6;
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
    border: 5px solid black;
    border-radius: 25px;
}

.simboliIdDS{
    padding-left:35px;
    margin: auto;
    margin-top: 1%;
    width: 100%;
    margin-left: 3%;
}

.simboloDS{
    border: 5px solid black;
    background-color: #A1B9E6;
}

.playDS{
    padding: 20px;
    font-size: 3rem;
    margin-left: 40%;
    margin-top: 1%;
    background-color: #A1B9E6;
    color: #E68373;
    text-shadow: 2px 2px black;
    border: 5px solid black;
    border-radius: 25px;
}

.playDS:hover{
    background-color: #E68373;
    color: #A1B9E6;
    text-shadow: 2px 2px black;
}

.playDS:active{
    background-color: #E68373;
    color: #A1B9E6;
    text-shadow: 2px 2px 10px black;
}

.tableDS{
    color: black;
    margin-top: 1%;
    border: 3px solid black;
    font-size: 2rem;
    background-color: #E68373;
    width:100%;
}

.tdDS{
    text-align: center;
}

.thDS, .tdDS{
    border: 1px solid black;
    background-color: #A1B9E6;
}

/* Fine CSS Daniele*/



/* Inizio CSS Montassar*/
.container_gh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px;
    width: 100%;
}

#form_gh input{
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
 .submit-button{
    width: 35%;
    position: relative;
    left: 200px;
}

#form_gh label.validator{
    color:   red;
    margin-left: 5px;
}

#form_gh .hide-label{
    display:none;
}

#table_gh {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width : 78%;
    float: right;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#table_gh thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
#table_gh th,
#table_gh td {
    padding: 12px 15px;
}
#table_gh tbody tr {
    border-bottom: 1px solid #dddddd;
}

#table_gh tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#table_gh tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
/* Fine CSS Montassar*/


/* Ahmed css code started here*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  padding-top: 5%;
  font-size: 5px;
  font-family: 'Open Sans', sans-serif;
} */

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.iphone {
  position: relative;
  background: #d8d6d6;
  width: 45%;
  height: 0;
  padding-top: 95%;
  margin: 0 auto;
  border-radius: 3em;
  border: #070707 solid 1px
}

.power {
  position: absolute;
  background: #585858;
  width: 13%;
  height: .5%;
  top: -.5%;
  right: 12%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.lock {
  position: absolute;
  background: #585858;
  width: 1%;
  height: 5%;
  top: 12.5%;
  left: -1%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.volume {
  position: absolute;
  background: #585858;
  width: 1%;
  height: 4%;
  top: 23%;
  left: -1%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.volume.down{ top: 31%; }

.camera {
  position: absolute;
  top: 4%;
  left: 48.5%;
  background: #1b1b1b;
  width: 3%;
  height: 0;
  padding-top: 3%;
  border-radius: 50%;
}

.speaker {
  position: absolute;
  top: 7%;
  left: 42.5%;
  background: #616060;
  width: 15%;
  height: 0;
  padding-top: 3%;
  border-radius: 1em;
}


.text {
  font-size: 1.25rem;
  text-align: center;
  animation: unhide 5s;
}

.screen {
  background-color: #070707;
  width: 90%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  left: 5%;
  animation: lighten 5s;
  border: #070707 solid 1px;
}

.button {
  position: absolute;
  bottom: 2.75%;
  left: 42.5%;
  background: #e9e7e7;
  /* border: 1px solid #3f3f3f; */
  width: 15%;
  height: 0;
  padding-top: 15%;
  border-radius: 50%;
  border: #070707 solid 1px;
}

.square {
  position: absolute;
  top: 27.5%;
  left: 27.5%;
  border: 2px solid #918e8e;
  border-radius: .3em;
  width: 45%;
  height: 45%;
}

@media screen and (min-width: 28em ) {
  body, .pulsante{ font-size: 8px; }
}

@media screen and (min-width: 34em ) {
  body, .pulsante{ font-size: 10px; }
}

@media screen and (min-width: 48em ) {
  body, .pulsante{ font-size: 14px; }
}

@keyframes lighten {
  0%, 45% { background: #2f2f2f; }
  65%, 100% { background: #070707; }
}

@keyframes unhide {
  0%, 55% { opacity: 0 }
  75%, 100% { opacity: 1 }
}

/* buttons */
        .pulsante {
          animation: unhide 5s;
            background-color: grey;
            color: #e4e7eb;
            font-size: 23pt;
            border: black;
            border-radius: 50px 50px 50px 50px;
            margin: 4px 2px;
            height: 70px;
            width: 70px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
        }

 
/* display */
.display {
  animation: unhide 5s;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: white;
  font-size: 50pt;
  border: black;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;

  padding: px;
  margin-bottom: 40px;
}

/* equal button */
.uguale {
  width: 70px;
  margin-bottom: 50px;
}

.row{
  margin-left: 0px;
}

/*Ahmed css code finished here*/
